/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p, a, ul, li, button, form, fieldset, textarea, input section, header, footer, table, td, tr, small, select {
	font-family: 'Lato', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #0CBCC6 !important;
    font-weight: 300;
}
p, a, ul, li, button, form, formset, textarea, input section, header, footer {
	font-family:'Lato', arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-weight: normal;
	color: #1a1a1a !important;
}

#example_amount{
	height: 50px;
    line-height: 50px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #0CBCC6 !important;
    font-weight: 300;
    margin-bottom: 2px;
}
.example_amount_label{
    display:inline;
	height: 50px;
    line-height: 50px;
    width: 50%;
    font-size: 30px;
    text-align: center;
    font-family: 'Lato', arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #0CBCC6 !important;
    font-weight: 300;
}

.p-span{
	display: block;
    margin-top: 1%;
    margin-bottom: 2%;
    color: #0cbcc6;
}
#payl8r_template_header{
    width: 100%;
    height: 10%;
    text-align: center;
    display: inline-block;
}
#payl8r_template_full{
	width: 100%;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#payl8r_template_leftcolumn{
	height: auto;
    width: 50%;
    float: left;
    display: inline-block;
}
#payl8r_template_rightcolumn{
	height: auto;
    width: 50%;
    float: right;
    display: inline-block;
}
.payl8r_template_content_wrapper{
	padding: 5%;
    height: auto;
}
.payl8r_template_content{
	padding: 5%;
    border: 1px solid;
    border-color: rgb(229, 230, 233) rgba(223, 224, 228, 0.72) rgb(208, 209, 213);
    border-radius: 3px;
    height: auto;
    margin-bottom: 5%;
}
.payl8r_template_content_text{
	text-align: center;
}
.payl8r_template_content_text p{
	width: 100%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.payl8r_template_content_text p span{
	display: block;
    color: #0cbcc6;
}
.payl8r_template_content_text p span:first-child{
    margin-top: 2%;
}
.payl8r_template_content_text p span:last-child{
    margin-bottom: 3%;
}

.flow-chart-container {
    width: 100%;
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 10%;
}
.flow-chart-item {
  margin: 0;
  padding: 0;
  counter-reset: step;
}
.flow-chart-item li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.flow-chart-item li:before {
	width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #bdbdbd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.flow-chart-item li:first-child:after {
  content: none;
}

.payl8r-price-checker-wrapper{
	margin-bottom: 15%;
}


@media (max-width: 950px) {
    #payl8r_template_leftcolumn, #payl8r_template_rightcolumn{
        float: none;
        width: 100%;
    }
}

.label_up_arrow, .label_down_arrow {
	clear: both;
    float: right;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;	
}